{% extends 'base.html'%}

{%load static%}
 {%block content%}
 <div class="col-md-12 mt-5">
{% load bootstrap4 %}
<h1 class="p-4 border-bottom">{{title}}</h1>


{% if user.is_authenticated %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">
    {{message}}
</div>
{% endfor %}
{% endif %}
                <legend class="border-bottom pb-1 mb-3 "> إضافة إعلان  </legend>
   
                <div class="border p-4 mb-5 mt-4">
                  <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                
                 
                    {% bootstrap_form form %}
                  
                 
                  <input class="btn btn-info mt-4"  style="background-color: #003153;;" type="submit" value="نشر">
                  </form>
              </div>
                {% endif %}
{% for a in advertisings  %}

    <div class="border p-4 m-4 rounded">
     {%  if user.is_authenticated%}
  
    
<div class="form-group pr-3 " >
<a class="pr-4 back-btn" href="{% url 'advertising_update' a.id %}"> <i class="fa fa-edit text-dark"></i></a>
     <a class="pr-5 back-btn" href="{% url 'advertising_delete' a.id %}"><i class="fa fa-trash text-danger"></i> </a>
</div>  
{% endif %}
  


{% if a.year  == '1' %}
<h2 style="color: #003153;">السنة الأولى</h2>
    {% elif a.year  == '2'  %}
    <h2 style="color: #003153;">السنة الثانية</h2>
    {% elif a.year  == '3'  %}
    <h2 style="color: #003153;">السنة الثالثة</h2>
    {% elif a.year  == '4'  %}
    <h2 style="color: #003153;">السنة الرابعة</h2>
    {% elif a.year  == '5' %}
    <h2 style="color: #003153;">السنة الخامسة</h2>
{% endif %}
    




<h2></h2>
   <h5><code  class="comment_body text-dark">
   <a href="#" class="pr-2" style="font-size: 20px; text-decoration: none; color:black" >
    {{a.content}}
   </code></h5>   
  


     


      <div class="row">
         
       
     <div class="column mt-2 mr-4">
         
       
         <div><span class="text-secondary " style="font-size: 12px;">نشر في</span>
        <span class="text-secondary" style="font-size: 12px;">{{a.created_at|date:'d/ m/ Y '}} </span>
      
    
    </div>
    
    </div></div>

 </div>

 


{%empty%}
<h2 class="border-bottom  p-5 text-center">لا يوجد إعلانات بعد :(</h2>

{% endfor %}

 
   


{% include 'pagination.html' with page=advertisings %}

     {%endblock%}

     