{% extends 'base.html'%}
{%load static%}
{%load post_tag%}
{% load bootstrap4 %}


 {%block content%}
 


<div class="col-md-9 mt-5 mb-5 ">
   <div class="row ">

    <!--  Search -->
    <div class="col-9 p-2 mx-auto ">
      <form class="" action="{% url 'search' %}" method="GET">
        <div class="form-group">
      <div class="input-group md-form form-sm form-1 pl-0">
        <div class="input-group-prepend">
          <button class="input-group-text purple lighten-3" id="basic-text1" style="background-color: #003153"><i class="fas fa-search text-white"
              aria-hidden="true"></i></button>
        </div>
        <input class="form-control my-0 py-1"  name="q" type="text" placeholder="ابحث عن محاضرة , تسجيل , تفريغ" aria-label="Search">
      </div>
    </div>
    </form>
  </div >
<!-- End Search -->
           
   <div class="col-auto p-2 mx-auto ">
    <div class="card card1  text-white shadow-lg border-dark  mx-auto " style="width: 18rem;background-color: #003153">
        <div class="card-header  text-center "  style="font-size: 29px;">
          السنة الأولى
        </div>
        <div class="card-body" style="font-size: 18px;">
        <ul class="card-title text-center">
            {% for t1 in year_1 %}
          <li class="text-white"><a style=" text-decoration: none;" class="text-white" href="{% url 'subject_page' t1.id %}"> 
               {{t1.subject}}  <small >({{t1.subject_c.count}})</small>
             
            
            
           
                </a></li>  
          {% endfor %}
        </ul>
    </div>
      </div> </div>
      <div class="col-auto p-2 mx-auto ">
        <div class="card card1  text-white shadow-lg border-dark  mx-auto " style="width: 18rem;background-color: #003153">
            <div class="card-header  text-center"style="font-size: 29px;">
              السنة الثانية
            </div>
            <div class="card-body"style="font-size: 18px;">
            <ul class="card-title text-center">
                {% for t2 in year_2 %}
              <li class="text-white"><a style=" text-decoration: none;" class="text-white" href="{% url 'subject_page' t2.id %}">  
                  {{t2.subject}}  <small >({{t2.subject_c.count}})</small></a></li>  
              {% endfor %}
            </ul>
        </div> </div> </div>
          
        <div class="col-auto p-2 mx-auto ">
          <div class="card  card1  text-white shadow-lg border-dark  mx-auto " style="width: 18rem;background-color: #003153">
              <div class="card-header  text-center"style="font-size: 29px;">
                السنة الثالثة
              </div>
              <div class="card-body"style="font-size: 18px;">
              <ul class="card-title text-center">
                  {% for t3 in year_3 %}
                <li class="text-white"><a style=" text-decoration: none;" class="text-white" href="{% url 'subject_page' t3.id %}">  
                    {{t3.subject}}  <small >({{t3.subject_c.count}})</small> </a></li>  
                {% endfor %}
              </ul>
          </div> </div> </div>
            
          <div class="col-auto p-2 mx-auto ">
            <div class="card card1  text-white shadow-lg border-dark  mx-auto " style="width: 18rem; background-color: #003153;">
                <div class="card-header  text-center"style="font-size: 29px;">
                  السنة الرابعة
                </div>
                <div class="card-body"style="font-size: 18px;">
                <ul class="card-title text-center">
                    {% for t4 in year_4 %}
                  <li class="text-white"><a style=" text-decoration: none;" class="text-white" href="{% url 'subject_page' t4.id %}">  
                      {{t4.subject}}  <small >({{t4.subject_c.count}})</small></a></li>  
                  {% endfor %}
                </ul>
            </div> </div> </div>
              
          

        <div class="col-auto p-2 mx-auto " >
          <div class="card card1  text-white shadow-lg border-dark  mx-auto " style="width: 18rem;background-color: #003153">
              <div class="card-header  text-center"style="font-size: 29px;">
                السنة الخامسة
              </div>
              <div class="card-body"style="font-size: 18px;">
              <ul class="card-title text-center">
                  {% for t5 in year_5 %}
                <li class="text-white"><a style=" text-decoration: none;" class="text-white" href="{% url 'subject_page' t5.id %}">  
                    {{t5.subject}} <small >({{t5.subject_c.count}})</small> </a></li>  
                {% endfor %}
              </ul>
          </div> </div>  </div> 
            

      
---


<div class="col-auto p-2 mx-auto " >
  <div class="card card1  text-white shadow-lg border-dark  mx-auto " style="width: 18rem;background-color: #003153">
      <div class="card-header  text-center"style="font-size: 29px;">
        السنة الخامسة
      </div>
      <div class="card-body"style="font-size: 18px;">

        <h5 class=" text-center"  id="btn1">الفصل الأول</h5>
     
      <ul id="season1" class="card-title text-center">
          {% for t5 in year_1 %}
        <li class="text-white"><a style=" text-decoration: none;" class="text-white" href="{% url 'subject_page' t5.id %}">  
            {{t5.subject}} <small >({{t5.subject_c.count}})</small> </a></li>  
        {% endfor %}
      </ul>
      <hr>
      <h5 class=" text-center"  id="btn2">الفصل الثاني</h5>
     
      <ul id="season2" class="card-title text-center">
          {% for t5 in year_1 %}
        <li class="text-white"><a style=" text-decoration: none;" class="text-white" href="{% url 'subject_page' t5.id %}">  
            {{t5.subject}} <small >({{t5.subject_c.count}})</small> </a></li>  
        {% endfor %}
      </ul>
  </div> </div> 
    



---
      
   

    </div>
</div>


{% endblock content %}


{% block custom_js %}
<script>
  $('#season1').hide();
  $('#season2').hide();

    $(document).ready(function(){


      $("#btn1").click(function(){
       $('#season1').toggle('1000');
      });

      $("#btn2").click(function(){
       $('#season2').toggle('1000');
      });

    
    })
</script>
{% endblock custom_js %}


{%block latest_posts %}
{% latest_posts %}
{%endblock latest_posts %}